* {
  font-family: 'Poppins', 'Courier New', Courier, monospace;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

// :hover {
//   transition: all 0.3s ease-in-out;
// }
input:focus {
  outline: none;
}

.form-switch input {
  height: 25px;
  width: 40px !important;
  &:checked {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  &:focus {
    box-shadow: none;
  }
}

.admin_menu a.active {
  background: #b12872 !important;
  color: #8dd7bf !important;
  font-weight: bold !important;
  word-spacing: 1.1rem !important;
  transition: all 0.3s ease-in-out !important;
}

form {
  label.me {
    color: #b12872;
    font-weight: 700;
  }
}
